<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <title>我的消息</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/themes.css?v=2017129">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/h5app.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/fonts/iconfont.css?v=2016070717">
    <script src="__STATIC__/newcj/js/jquery.min.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible_css.debug.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible.debug.js"></script>
</head>
<body>
<div class='fui-page-group'>
    <div class='fui-page chatDetail-page'>
        <div class="chat-header flex">
            <span style="font-size: 0.4rem;">我的消息</span>
            <i class="icon icon-add into-shop t-48" onclick="switch_to('add')"  style="color: #888;background:#ffffff"></i>
        </div>
        <div class="fui-content navbar" style="padding:1.2rem 0 1.35rem 0;">
            <div class="chat-content">
            </div>
        </div>
        <div class="fix-send flex footer-bar">
            <div style="width: 33%;text-align: center;">
                <i class="icon icon-message t-50" onclick="switch_to('message_list')"style="color: #888;"></i>
            </div>
            <div style="width: 33%;text-align: center;">
                <i class="icon icon-group t-50" onclick="switch_to('group_List')"  style="color: #888;"></i>
            </div>
            <div style="width: 33%;text-align: center;">
                <i class="icon icon-my2 t-50" onclick="switch_to('userList')"  style="color: #888;"></i>
            </div>

        </div>
    </div>
</div>

<script>
    var from_id = {$fromid};
    var domain = document.domain;//获取域名
    var API = 'http://'+domain+'/api/chat/';
    var ws =  new WebSocket("ws://192.168.1.106:4399"); //上线请修改与Mychat中文件地址一致
    ws.onmessage = function(e){
        var msgs = JSON.parse(e.data);
        switch (msgs.type) {
            case 'init':
                data['type'] = "bind"
                data["fromid"] = from_id;
                var msg = JSON.stringify(data);
                ws.send(msg);
                return;
            case 'text':
                show(msgs.fromid,msgs,'text');
                return;
            case 'img':
                show(msgs.fromid,msgs,'img');
                return;
            case 'video':
                show(msgs.fromid,msgs,'video');
                return;
            case 'add'://显示好友/群添加信息
                var ht = '   <div class="chat-text section-left flex" onclick="talk('+msgs.toid+','+ from_id+')">\n' +
                    ' <span class="char-img" style="background-image: url('+msgs.icon+')"><div id="point'+msgs.toid+'" style="left:0.9rem;background: red;position: relative;width:0.20rem;height: 0.20rem;border-radius:50%"></div></span>\n' +
                    '<div style="width: 85%"><div style="float: top;font-size:0.4rem;">'+msgs.name+
                    '<span  class="shop-online t-26" style="float: right;margin-right: 0.15rem;font-size: 0.27rem;color: #888;">'+msgs.time+'</span></div>'+
                    ' <div id="fr'+msgs.toid+'" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #888;">'+msgs.msg+'</div></div>\n' +
                    '                </div>';
                $(".chat-content").prepend(ht);
        }
    };
    var data = {};
    //初始化聊天页面，显示聊天数据
    function getMessages(ids) {
        $.post(API+'myMessage',{id:ids},function(res){
            if (res.code===5){
                var ht = '<div style="margin:50% 40%">没有聊天记录</div>';
                $(".chat-content").append(ht);
                return;
            }
            for (var i=0;i<(res.data.message).length;i++){
                var msg = '';
                if (res.data.message[i].type===1) {
                    msg = res.data.message[i].last_msg;
                }else if(res.data.message[i].type===2){
                    msg = '图片消息'
                }else if (res.data.message[i].type===3) {
                    msg = '视频消息'
                }else{
                    msg = res.data.message[i].last_msg;
                }
                var types = '';
                if (res.data.message[i].no_read !==0){
                    types = 'background: red;';
                }
                var ht = '   <div class="chat-text section-left flex" onclick="talk('+res.data.message[i].id+','+ ids+')">\n' +
                    ' <span class="char-img" style="background-image: url('+res.data.message[i].icon+')"><div id="point'+res.data.message[i].id+'" style="left:0.9rem;'+types+'position: relative;width:0.20rem;height: 0.20rem;border-radius:50%"></div></span>\n' +
                    '<div style="width: 85%"><div style="float: top;font-size:0.4rem;">'+res.data.message[i].name+
                    '<span id="tm'+res.data.message[i].id+'" class="shop-online t-26" style="float: right;margin-right: 0.15rem;font-size: 0.27rem;color: #888;">'+res.data.message[i].times+'</span></div>'+
                    ' <div id="fr'+res.data.message[i].id+'" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #888;">'+msg+'</div></div>\n' +
                    '                </div>';
                $(".chat-content").append(ht);
            }
            if(res.data.add_msg!==false){
                for (var i=0;i<(res.data.add_msg).length;i++){
                    var msg = res.data.add_msg[i].last_msg;
                    if (res.data.message[i].is_read !==2){
                        types = 'background: red;';
                    }
                    var ht = '   <div class="chat-text section-left flex" onclick="agree('+res.data.message[i].id+','+ ids+')">\n' +
                        ' <span class="char-img" style="background-image: url('+res.data.message[i].icon+')"><div id="point'+res.data.message[i].id+'" style="left:0.9rem;'+types+'position: relative;width:0.20rem;height: 0.20rem;border-radius:50%"></div></span>\n' +
                        '<div style="width: 85%"><div style="float: top;font-size:0.4rem;">'+res.data.message[i].name+
                        '<span  class="shop-online t-26" style="float: right;margin-right: 0.15rem;font-size: 0.27rem;color: #888;">'+res.data.message[i].times+'</span></div>'+
                        ' <div id="fr'+res.data.message[i].id+'" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #888;">'+msg+'</div></div>\n' +
                        '                </div>';
                    $(".chat-content").append(ht);
                }
            }
        })
    }

    var ids =  getMessages(from_id);//此处建立登录页后定义变量提换

    //点击进入与好友聊天页面
    function talk(to_id,id){
        $.post(API+'read',{fromid:to_id,toid:id});
        window.location.href="http://"+domain+"/index/index/index/from/"+id+"/to/"+to_id;
    }
    //跳转页面
    function switch_to(type){
        window.location.href="http://"+domain+"/index/index/"+type+"/fromid/"+from_id;
    }
    //处理webSocket服务器发送过来的数据
    function show(id,content,type){
        var ids ="#fr"+id;
        var point = "#point"+id;
        var tm = "#tm"+id;
        if (type==='text'){
            $(ids).text(content.msg);
            $(tm).text(content.time);
            $(point).css('background-color','red')
        } else if(type==='img'){
            $(ids).text("图片消息");
            $(tm).text(content.time);
            $(point).css('background-color','red')
        }else{
            $(ids).text("视频消息");
            $(tm).text(content.time);
            $(point).css('background-color','red')
        }
    }
    function agree(to_id,id){

    }
</script>
</body>
</html>
